@import '../../../assets/styles/variables';

.model-container {
	height: 100vh; /* Высота экрана */
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: inherit;
}

.model-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	display: flex;
	align-items: center;
}

.back-link {
	display: flex;
	align-items: center;
	text-decoration: none;

	.return-to-catalog {
		opacity: 0.5;
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;
	}
}

.model-slider {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.slider-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70vh; /* Фиксированная высота */
	background-color: transparent; /* Заглушка до загрузки изображения */
}

.slider-image {
	transform: translateZ(0);
	will-change: opacity, transform;
	width: 500px; /* Фиксированная ширина */
	height: 100%; /* Высота будет автоматически изменяться пропорционально ширине */
	object-fit: contain; /* Изображение сохраняет пропорции внутри контейнера */
	z-index: 1; /* Чтобы изображение не перекрывало стрелки */
}

.arrow-button {
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	border-radius: 50%;
	z-index: 2; /* Чтобы стрелки располагались выше изображения */
	background-color: rgba(255, 255, 255, 0.5);
	&:hover {
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.arrow-button:first-of-type {
	left: 20px; /* Стрелка слева */
}

.arrow-button:last-of-type {
	right: 20px; /* Стрелка справа */
}

.model-info {
	padding: 20px 0;
	text-align: center;
}

.model-info-paper {
	padding: 20px 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.model-info-title {
	margin-bottom: 20px;
	font-size: 30px;
}

.fade-enter {
	opacity: 0;
	transform: scale(0.95);
}
.fade-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 500ms, transform 500ms;
}
.fade-exit {
	opacity: 1;
	transform: scale(1);
}
.fade-exit-active {
	opacity: 0;
	transform: scale(0.95);
	transition: opacity 300ms, transform 300ms;
}

@media (max-width: '600px') {
	.arrow-button {
		position: relative;
		top: 60%;
	}
	.arrow-button:first-of-type {
		left: 50px; /* Стрелка слева */
	}

	.arrow-button:last-of-type {
		right: 50px; /* Стрелка справа */
	}
}
