@import 'src/assets/styles/variables';

.card {
	position: relative;
	cursor: pointer;

	.img {
		width: 100%;
		height: auto;
		object-fit: cover;
		transition: filter 0.7s ease; // Плавный переход
		cursor: pointer;
	}

	.info {
		text-decoration: none;
		position: absolute;
		top: 50%; // Центрируем текст по вертикали
		left: 50%; // Центрируем текст по горизонтали
		transform: translate(-50%, -50%); // Смещаем текст обратно в центр
		color: $white;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		padding: 10px;
		border-radius: 8px;
		opacity: 0; // Прячем текст по умолчанию
		transition: opacity 0.3s ease; // Плавный переход
		P {
			font-family: $default-font;
		}
	}
	&:hover .img {
		filter: blur(3px) brightness(0.7); // Размытие только изображения при наведении
	}
	&:hover .info {
		opacity: 1; // Показываем текст при наведении
	}
}

.img {
	margin-bottom: 12px;
	border-radius: 12px;

	width: 100%;
	aspect-ratio: 302 / 286;
	object-fit: cover;
}

.descWrapper {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.title {
	font-weight: 600;
	font-size: 15px;
	line-height: 127%;
	color: #fff; // верхний титул
}

.rating {
	display: flex;
	gap: 4px;
	align-items: center;

	font-weight: 400;
	font-size: 15px;
	line-height: 127%;
	text-align: right;
	color: #fff; // звездочка
}

.desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 127%;
	color: #ffffffc0; //2 тит
}

.date {
	font-weight: 400;
	font-size: 13px;
	line-height: 146%;
	color: #717171; // 3 титул
}
.card {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.4s ease, transform 0.4s ease;

	&.visible {
		opacity: 1;
		transform: translateY(0);
	}
}
