@import 'src/assets/styles/variables';

.servicesContainer {
	padding: 20px;
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
}

.swiper {
	width: 100%;
	padding-bottom: 20px;
}

.swiperSlide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
	color: $white;
}
