@import '../../../assets/styles/variables';

.footer {
	margin-top: 200px;
	font-family: $special-font;
	height: 110vh;
	position: relative;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.mapContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
}

.container {
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	height: 100%;
	z-index: 2;
}

.logoSection {
	width: 100%;
	min-height: 140px;
	background: url('/images/logo.png') no-repeat center;
	background-size: contain;
}

/* Одинаковая ширина для блоков */
.contacts,
.navLinks {
	width: 100%;
	max-width: 300px; /* Ограничиваем ширину */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.contacts h3,
.navLinks h3 {
	font-size: 30px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.contacts a,
.navLinks a {
	display: block;
	width: 100%;
	text-align: center;
	color: #ccc;
	text-decoration: none;
	transition: color 0.3s;
}

.contacts a:hover,
.navLinks a:hover {
	color: $accent-blue-light;
}

/* Иконки */
.icons {
	margin-top: 20px;
	display: flex;
	gap: 15px;
	justify-content: center;
	font-size: 30px;
}

/* Адаптивность */
@media (max-width: 700px) {
	.footer {
		margin-top: 150px;
	}
	.container {
		// width: 80%;
		padding: 15px;
	}

	.contacts,
	.navLinks {
		max-width: 250px;
	}

	.contacts h3,
	.navLinks h3 {
		font-size: 20px;
	}

	.contacts a,
	.navLinks a {
		font-size: 14px;
	}

	.icons a {
		font-size: 32px;
	}
}

@media (max-width: 400px) {
	.footer {
		margin-top: 80px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.mapContainer {
		order: -1;
		height: 250px;
	}

	.map {
		padding: 20px;
		position: relative;
		opacity: 1;
		height: 100%;
	}

	.container {
		width: 90%;
		padding: 10px;
		position: relative;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.contacts,
	.navLinks {
		max-width: 200px;
	}

	.contacts h3,
	.navLinks h3 {
		font-size: 16px;
	}

	.contacts a,
	.navLinks a {
		font-size: 12px;
	}

	.icons a {
		font-size: 28px;
	}
}
