@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(300px);
	}
}
@keyframes slide-left {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-300px);
	}
}
