@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

$accent: #b53471;
$white: #f1e8e8;
$black: #111;

$hard-dark-accent: darken($accent, 20%);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
