@import 'src/assets/styles/variables';

* {
	font-family: 'ChronicleDisplay';
}
.article {
	margin-bottom: 300px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	column-gap: 30px;
	align-items: start;
}
.article-reverse {
	flex-direction: row-reverse;
}
.article-img {
	min-width: 50%;

	img {
		max-width: 100%;
	}
}
.article-text {
	max-width: 70%;
	padding-left: 130px;
	position: relative;
	p {
		font-size: 18px;
		line-height: 2;
	}
	&::before {
		position: absolute;
		left: 0;
		top: 0;
		transform: translateY(-50%);
		display: block;
		content: attr(data-number);
		width: 240px;
		height: 240px;
		font-style: normal;
		font-weight: 700;
		font-size: 240px;
		line-height: 1;
		color: rgba(225, 225, 225, 0.1);
	}
}

.article-subtitle {
	margin-bottom: 32px;
	position: relative;
	padding-left: 96px;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.222;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #fbd784;
}

.article-subtitle::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 72px;
	height: 2px;
	background-color: #fbd784;
}

.article-title {
	// max-width: 555px;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 20px;
}
.visible {
	opacity: 1;
	transition: all 1s ease;
}
.hidden {
	opacity: 0;
	transition: all 1s ease;
}
@media (max-width: 1200px) {
	article {
		margin-bottom: 0px;
	}
	.article-text::before {
		width: 140px;
		height: 140px;
		font-size: 140px;
	}
	.article-text {
		padding-left: 50px;
		max-width: 50%;
		.article-title {
			font-size: 27px;
		}
	}
	.article-img {
		width: 45%;
	}
}

@media (max-width: 970px) {
	.article-text {
		max-width: 100%;
		p {
			font-size: 21px;
		}
	}
	.article-img {
		width: 100%;
		margin-bottom: 60px;
	}
	.article-title {
		width: 100%;
	}
	.article {
		flex-direction: column;
		margin-bottom: 100px;
	}
}

@media (max-width: 460px) {
	.article {
		margin-bottom: 80px; // уменьшаем отступ снизу
		flex-direction: column;
		align-items: center;
		padding: 0 10px; // добавляем горизонтальные отступы
	}

	.article-img {
		// width: 100%;
		margin-bottom: 30px; // уменьшаем отступ между изображением и текстом
	}

	.article-text {
		max-width: 100%;
		padding: 0; // убираем отступы слева/справа
		// text-align: center; // центрируем текст

		&::before {
			width: 80px;
			height: 80px;
			font-size: 80px;
			// left: 50%; // центрируем цифру
			// transform: translateX(-50%) translateY(-50%);
		}
		.article-title {
			font-size: 22px; // уменьшаем размер заголовка
			margin-bottom: 10px;
		}
		p {
			font-size: 16px; // уменьшаем размер шрифта параграфа
		}
	}

	.article-subtitle {
		padding-left: 0;
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 40px;
		&::before {
			right: 0;
			top: 110%;
			transform: translateY(-50%);
			display: block;
			content: '';
			width: 90%;
			height: 2px;
			background-color: #fbd784;
		}
	}
}
